<header>
  <div class="bar">
    <div class="left">
      <img src="assets/images/Luan.png" alt="avatar">
    </div>
    <div class="presentation">
      <h1 class="name">Luan Goedert</h1>
      <p class="tagline">
        <span>Software Developer</span>
        <span class="sep">-</span>
        <span>Game Developer</span>
      </p>
      <nav class="nav">
        <a (click)="scrollToSection('home')" class="link" style="cursor: pointer;">Home</a>
        <a (click)="scrollToSection('about')" class="link" style="cursor: pointer;">About</a>
        <a (click)="scrollToSection('projects')" class="link" style="cursor: pointer;">Projects</a>
        <a (click)="scrollToSection('contact')" class="link" style="cursor: pointer;">Contact</a>
      </nav>
    </div>
    <div class="right">

      <a>Level: {{ myAge }}</a>
      <a>Games developed: {{gamesDelivered}}</a>
      <a>Software dev XP: {{softwareDeveloperXP }}</a>
      <a>Game dev XP: {{gameDeveloperXp}}</a>
      <a>Location: {{location}}</a>
      <a>Email: {{email}}</a>
      <a>Languages: EN/PT-BR</a>
      <div class="tooltip">
        <p>{{ myAge }} years</p>
        <p>Developing software since {{ programmingSoftwareSince | date:'yyyy'}}.({{softwareDeveloperXP}}) days </p>
        <p>Developing games since {{ programmingGamesSince | date:'yyyy/MM/dd'}}.({{gameDeveloperXp}}) days</p>

      </div>
    </div>
  </div>

</header>