.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  margin: 0 auto; 
  padding: 0 2rem; 
  align-items: center;
  margin-bottom: 20px;
}

.background-blue {
  background-color: var(--darker-blue-background);
  min-height: fit-content;
  display: flex;
  gap: 20px;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1100px;
  border: 5px solid var(--golden-yellow);
    padding: 10px;
  ::shadow {
    box-shadow: var(--shadow)
  }
}