<section id="contact">
    <div class="title">
        Contact
    </div>
    <div class="description">
        <h3>> Visit me in oher places</h3>
        <p>
            Feel free to reach me on my social media, you can send a email down below if you want, also some hints and
            feedbacks on self improvement are welcome. I Hope you enjoyed this portifolio.
        </p>
        <div class="nes-field">
            <textarea [(ngModel)]="this.message" id="message_field" class="nes-input is-success auto-expand"
                placeholder="Leave a message..."></textarea>
        </div>
        <div class="cta">
                 <button class="buttonsend" (click)="sendEmailMessage()">> Send</button>
            <button class="buttonlink" (click)="openLink('https://github.com/LuanGoedert/')">
                GitHub
            </button>
            <button class="buttonlink" (click)="openLink('https://www.linkedin.com/in/luan-goedert/')">
                Linkedin
            </button>
            <button class="buttonlink" (click)="openLink('https://www.linkedin.com/in/luan-goedert/')">
                Download resume
            </button>
        </div>
    </div>
</section>