<section id="contact">
    <div class="title">
        Contact
    </div>
    <div class="description">
        <h3>> Feel free to contact me</h3>
        <p>
            5 years of experience working with
            <span style="color: #800080;">C#</span>.
            I have built web applications for a North American-based bank, and one of Brazil's top 15 retail companies.
        </p>
        <div class="cta">
            <button class="buttonlink" (click)="openLink('https://github.com/LuanGoedert/')">
                GitHub
            </button>
            <button class="buttonlink" (click)="openLink('https://www.linkedin.com/in/luan-goedert/')">
                Linkedin
            </button>
            <button class="buttonlink" (click)="openLink('https://www.linkedin.com/in/luan-goedert/')">
                Download resume
            </button>
        </div>
    </div>
</section>