.contact {
    margin-bottom: 100px;
    border: 2px solid var(--golden-yellow);

    ::shadow {
        box-shadow: var(--shadow);
    }
    font-family: var(--font-family);
    max-width: fit-content;
    max-height: fit-content;
}

.title {
  color: var(--golden-yellow);
  max-width: fit-content;
  ::shadow {
    text-shadow: var(--shadow);
  }
}

.description {
    border: 2px solid var(--golden-yellow);
    border-style: double;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    width: auto;
    font-size: auto;
    min-height: max-content;
    padding: 5px;
    -webkit-text-stroke: .7px var(--dark-gray);
    background-color: var(--blue-background);
}

.description h3 {
    max-width: fit-content;
    color: var(--golden-yellow);
    font-family: var(--font-primary);
    margin-bottom: 5px;

    -webkit-text-stroke: 0;

    ::shadow {
        text-shadow: var(--shadow)
    }
}

.buttonlink {
    border: 2px solid var(--darker-blue-background);
    font-family: var(--font-primary);
    color: var(--darker-blue-background);
    width: 152px;
    height: 48px;
    background-color: var(--button);
    box-shadow:  3px 3px 3px var(--black);
    text-emphasis-color: inherit;
}

.buttonlink:hover {
    transform:  scale(1.1);
     color: var(--golden-yellow);
}

.cta {
    bottom: 1rem;
    display: flex;
    gap: 32px;
    justify-content: center;
}