.contact {
    margin-bottom: 100px;
    border: 2px solid var(--golden-yellow);

    ::shadow {
        box-shadow: var(--shadow);
    }

    font-family: var(--font-family);
    max-width: fit-content;
    max-height: fit-content;
}



/* app.component.css */
.nes-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: var(--blue-background);
    
}

/* Base NES-like input style */
.nes-input {
    color: var(--green2);
    border: 3px solid (--brownish-orange);
    outline: none;
    padding: 8px 12px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: var(--darker-blue-background);
    box-shadow: inset -3px -3px var(--darker-blue-background), inset 3px 3px var(--darker-blue-background);
    resize: none;
    /* disable manual resize handle */
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    ::shadow {
        box-shadow: var(--brownish-orange);
    }
}

.nes-input.is-success {
    border-color: var(--golden-yellow);
    // box-shadow: inset -3px -3px #dff0c6, inset 3px 3px #dff0c6;
}

.nes-input:focus {
    box-shadow: inset -3px -3px var(--darker-blue-background), inset 3px 3px var(--blue-background);

}

.auto-expand {
    min-height: 40px;
}

.textarea-wrapper {
  position: relative;
  display: inline-block;
}

.textarea-wrapper textarea {
  width: 300px;
  height: 120px;
  padding-right: 60px; /* space for the button */
}

.inner-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 6px 10px;
}

.buttonsend {
  border: 3px solid var(--black);
  font-family: var(--font-primary);
  color: var(--black);
  width: 152px;
  height: 48px;
  background-color: var(--golden-yellow);
  box-shadow: 2px 2px 2px var(--black);
}

.buttonsend:hover {
  -webkit-text-stroke: 0;
  transform: scale(1.2);
  color: var(--white);
  box-shadow: 5px 5px 5px var(--black);
}
