.title {
  color: var(--golden-yellow);
  max-width: fit-content;

  ::shadow {
    text-shadow: var(--shadow);
  }
}

.description {
  border: 2px solid var(--golden-yellow);
  border-style: double;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  font-size: auto;
  min-height: max-content;
  padding: 5px;
  -webkit-text-stroke: .7px var(--dark-gray);
  background-color: var(--blue-background);
}

.description h3 {
  max-width: fit-content;
  color: var(--golden-yellow);
  font-family: var(--font-primary);
  margin-bottom: 5px;

  -webkit-text-stroke: 0;

  ::shadow {
    text-shadow: var(--shadow)
  }
}

.chips {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid var(--golden-yellow);
  border-style: double;
  font-size: auto;
  background-color: var(--darker-blue-background);
  transition: 0.2s;
  -webkit-text-stroke: .5px var(--dark-gray);

  ::shadow {
    box-shadow: var(--golden-yellow);
    text-shadow: var(--shadow-minor)
  }
}

.chip:hover {
  color: var(--golden-yellow);
  transform: scale(1.1);
  background-color: var(--green3);
}