<section id="about">
  <div class="title">
    About
  </div>
  <div class="description">
    <h3>> My experience</h3>
    <p>
      5 years of experience working with C#.
      I have built web applications for a North American-based bank, and one of Brazil's top 15 retail companies.
    </p>
    <h3>> International Teamwork</h3>
    <p>
      I have worked on global and diverse teams, dealing with stakeholders from
      the USA,Europe and India, creating multi-region high-availability solutions
      for the past 2 years.
    </p>

    <h3>> Technologies and frameworks that I've worked</h3>

  <div class="chips">
    <span class="chip">C#</span>
    <span class="chip">.NET</span>
    <span class="chip">.NET Framework</span>
    <span class="chip">API Development</span>
    <span class="chip">Microsoft SQL Server</span>
    <span class="chip">JSON</span>
    <span class="chip">Unity</span>
    <span class="chip">Git</span>
    <span class="chip">Azure</span>
    <span class="chip">CI/CD</span>
    <span class="chip">Microservices Architecture</span>
    <span class="chip">BFF</span>
    <span class="chip">REST</span>
    <span class="chip">Agile Development</span>
    <span class="chip">Angular</span>
    <span class="chip">GitHub</span>
    <span class="chip">RFID</span>
    <span class="chip">TypeScript</span>
    <span class="chip">Kotlin</span>
    <span class="chip">Android Studio</span>
    <span></span>
  </div>
 
    <h3>> Other</h3>
    <p>
      Over the past 2~3 years, I have pursued game development as a personal
      passion, which led to the release of my own game on Steam, keep of the
      knights. I also love playing table RPG with my friends, my favorite class is the <span style="color: #b6f607;" class="title">Warrior</span>.
    </p>
  </div>
</section>