.chips {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid var(--golden-yellow);
  border-style: double;
  font-size: auto;
  background-color: var(--darker-blue-background);
  transition: 0.2s;
  -webkit-text-stroke: .5px var(--dark-gray);

  ::shadow {
    box-shadow: var(--golden-yellow);
    text-shadow: var(--shadow-minor)
  }
}

.chip:hover {
  color: var(--golden-yellow);
  transform: scale(1.1);
  background-color: var(--green3);
}