<section id="about">
  <div class="title">
    About
  </div>
  <div class="description">
    <h3>> My experience</h3>
    <p>
      5 years of experience working with
      <span style="color: #800080;">C#</span>.
      I have built web applications for a North American-based bank, and one of Brazil's top 15 retail companies.
    </p>
    <h3>> International Teamwork</h3>
    <p>
      I have worked on global and diverse teams, dealing with stakeholders from
      the
      <span style="color: #1a53ae;">U</span>
      <span style="color: #bf0a30;">S</span>
      <span style="color: #ffffff;">A</span>,
      <span style="color: #1a53ae;">E</span>
      <span style="color: #FFCC00;">u</span>
      <span style="color: #1a53ae;">r</span>
      <span style="color: #FFCC00;">o</span>
      <span style="color: #1a53ae;">p</span>
      <span style="color: #FFCC00;">e</span>
      and
      <span style="color: #FF9933;">I</span>
      <span style="color: #FF9933;">n</span>
      <span style="color: #FFFFFF;">d</span>
      <span style="color: #138808;">i</span>
      <span style="color: #138808;">a</span>, creating multi-region high-availability solutions
      for the past 2 years.
    </p>

    <h3>> Technologies and frameworks that I've worked</h3>

  <div class="chips">
    <span class="chip">C#</span>
    <span class="chip">.NET</span>
    <span class="chip">.NET Framework</span>
    <span class="chip">API Development</span>
    <span class="chip">Microsoft SQL Server</span>
    <span class="chip">JSON</span>
    <span class="chip">Unity</span>
    <span class="chip">Git</span>
    <span class="chip">Azure</span>
    <span class="chip">CI/CD</span>
    <span class="chip">Microservices Architecture</span>
    <span class="chip">BFF</span>
    <span class="chip">REST</span>
    <span class="chip">Agile Development</span>
    <span class="chip">Angular</span>
    <span class="chip">GitHub</span>
    <span class="chip">RFID</span>
    <span class="chip">TypeScript</span>
    <span class="chip">Kotlin</span>
    <span class="chip">Android Studio</span>
    <span></span>
  </div>
 
    <h3>> Other</h3>
    <p>
      Over the past 2 years, I have pursued game development as a personal
      passion, which led to the release of my own game on Steam, keep of the
      knights. I also love playing table RPG with my friends and one day I will
      play the role of the <span style="color: #b6f607;" class="title">&lt;Dungeon Master&gt;</span>.
    </p>
  </div>
</section>