<section id="home">
  <div class="title">
    Home
  </div>
  <div class="description">
    <h3>> Welcome</h3>
    <p>
      Hello and welcome to my portfolio. My name is Luan, and I’m a software developer with a strong focus on back-end
      development and a keen interest in front-end technologies. In addition to software development, I’m passionate
      about game development. I’ve even published a game on Steam.
    </p>
    <p>
      I’m glad you stopped by! Feel free to explore my projects and learn more about my work. This portfolio represents
      a blend of my technical skills and creative passion, I hope you enjoy it.
    </p>
  </div>

</section>