.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
     overflow: hidden;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--darker-blue-background);
    box-shadow: 0 0 12px var(--golden-yellow), inset 0 0 8px var(--golden-yellow);
    border: 2px double var(--golden-yellow);
}

.video-container iframe {
    position: absolute;
    border-radius: 5px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}