.title {
  color: var(--golden-yellow);
  max-width: fit-content;
  ::shadow {
    text-shadow: var(--shadow);
  }
}

.description {
  border: 2px solid var(--golden-yellow);
  border-style: double;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  font-size: auto;
  min-height: max-content;
  padding: 5px;
  -webkit-text-stroke: .7px var(--dark-gray);
  background-color: var(--blue-background);
}

.description h3 {
  max-width: fit-content;
  color: var(--golden-yellow);
  font-family: var(--font-primary);
  margin-bottom: 5px;

  -webkit-text-stroke: 0;

  ::shadow {
    text-shadow: var(--shadow)
  }
}

.buttonlink {
  border-color: transparent;
  font-family: var(--font-primary);
  color: aliceblue;
  width: 152px;
  height: 48px;
  background-color: var(--button);
  box-shadow: 2px 2px 2px var(--black);
  text-emphasis-color: inherit;
}

.buttonlink:hover {
  transform: scale(1.1);
  color: var(--golden-yellow);
}