@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --bg: #111315;
  --text: #e7e7e7;
  --font-primary: 'Press Start 2P', monospace;
  --black: #000000;
  --green4: #204829;
  --green3: #22b455;
  --green2: #80ce87;
  --yellow: #ffff99;
  --blue-background2: #040e41;
  --blue-background: #1f2750; // card background
  --darker-blue-background: #0b0e12; // page background
  --dark-gray: #2a2a2a; // section background
  --brownish-orange: #903f17; // background for code great titles
  --golden-yellow: #f8cb38; // for great titles
  --shadow: 3px 3px 3px var(--brownish-orange);
  --shadow-minor: 2px 2px 2px var(--brownish-orange);
  --shadow-major: 4px 4px 4px var(--brownish-orange);
  --button: #22c55E;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

//shared

.buttonlink {
  border: 3px solid var(--black);
  font-family: var(--font-primary);
  color: var(--black);
  width: 152px;
  height: 48px;
  background-color: var(--green2);
  box-shadow: 2px 2px 2px var(--black);
}

.buttonlink:hover {
  -webkit-text-stroke: 0;
  transform: scale(1.2);
  color: var(--white);
  box-shadow: 5px 5px 5px var(--black);
}

.cta {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  border: 2px solid var(--golden-yellow);
  border-style: double;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  font-size: 16px;
  min-height: max-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--blue-background);
  -webkit-text-stroke: .7px var(--dark-gray);
}

.description h3 {
  max-width: fit-content;
  color: var(--golden-yellow);
  font-family: var(--font-primary);
  margin-bottom: 5px;
  -webkit-text-stroke: 0;
  text-shadow: var(--shadow);
}

.description h1 {
  max-width: fit-content;
  color: var(--golden-yellow);
  font-family: var(--font-primary);
  margin-bottom: 5px;
  -webkit-text-stroke: 0;
  text-shadow: var(--shadow-major);
}

.title {
  color: var(--golden-yellow);
  max-width: fit-content;
  text-shadow: var(--shadow);
}

// 