<section id="projects">
    <div class="title">Projects</div>
    <div class="description">
        <h3>> Game development</h3>
        <p>
            My first demoable project is Keep of the Knights.
            I initially started this project with the goal of releasing it on Steam and understanding how
            challenging it is to create an indie game (spoiler: it’s pretty difficult, trust me!).
        </p>
        <p>
            Throughout development, I learned a lot and went through many scope changes — mostly to make the project
            more
            manageable. I also picked up several industry techniques, such as object pooling, camera occlusion,
            and a lot of other techniquesto improve and overall performance.
        </p>
        <button class="buttonlink" (click)="openLink('https://store.steampowered.com/app/2697610/Keep_of_the_knights/')"
            target="_blank">Keep OF the Knights</button>
        <h3>> Software development</h3>
        <p>My first project that I can showcase in software development is this
            portfolio, which I created to demonstrate my ability to design and build
            software-related projects. In the future you will see new projects around this area.</p>

    </div>
</section>