name: Build Angular Project

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.0   

      - name: Install dependencies
        run: npm ci

      - name: Build Angular App
        run: npm run build

      - name: Show Angular error log (if any)
        if: failure()   # runs only if a previous step failed
        run: |
          for d in /tmp/ng-*; do
            if [ -f "$d/angular-errors.log" ]; then
              echo "=== Contents of $d/angular-errors.log from $d ==="
              cat "$d/angular-errors.log"
            fi
          done

