name: Build Angular Project

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.0   

      - name: Install dependencies
        run: npm ci

      - name: Build Angular App
        run: npm run build
        
      - name: Show Angular error log on failure
        if: failure()
        run: |
          ls -R /tmp
          if ls /tmp/ng-* 1> /dev/null 2>&1; then
            cat /tmp/ng-*/angular-errors.log || echo "No angular-errors.log file"
          else
            echo "No /tmp/ng-* folder found"
          fi
